@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light-royal-green-gradient {
    background: linear-gradient(to bottom, #038e87, #1aa69d, #4db6ac, #80cbc4, #b2dfdb);
  }

  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
  }